.button {
  padding: $s-size;
  border: none;
  border-radius: $xs-size;
  color: $white;
  font-weight: bold;
  font-size: $m-size;
}

.btn-large {
  padding: $l-size;
  margin-bottom: $xl-size;
  width: 100%;
  border: none;
  border-bottom: $xs-size solid darken($purpel, 10%);
  font-size: $l-size;
}

.btn-medium {
  padding: $m-size;
  height: 55px;
  width: 100px;
}

.btn-primary {
  background: $purpel;
}

.btn-success {
  background-color: $success;
}

.btn-warning {
  background-color: $warning;
}

.btn-danger {
  background-color: $danger;
}

.btn-back {
  background-color: $gray;
}
