.survey-form {
  .text-area {
    box-sizing: border-box;
    width: 60%;
    height: 100px;
    padding: $s-size;
    border: 1px solid $light-blue;
    border-radius: $xs-size;
    resize: none;
    font-size: $m-size;
    font-weight: 400;
  }
}