.survey-form {
  .text-area {
    box-sizing: border-box;
    width: 75%;
    height: 100px;
    padding: 1.2rem;
    border: 1px solid $light-blue;
    border-radius: 0.6rem;
    resize: none;
    font-size: 1.6rem;
    font-weight: 400;
  }
}


textarea {
  font-family: 'Maven Pro', sans-serif;
}

textarea:focus {outline:0;}