.notFound--status {
  margin: 0;
  font-size: 150px;
}

.notFound--message {
  margin: $l-size;
  text-transform: capitalize;
}

.link {
  padding: $m-size;
  margin: 30px auto 0;
  display: block;
  max-width: 250px;
  border-radius: $xs-size;
  background-color: $action-color;
  color: $white;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase
}