.header {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  padding: 1.6rem 3.2rem;
  background: $header;
  box-shadow: -1px -8px 20px 6px $off-black;
}

.header__title {
  font-size: $l-size;
  margin: 0;
}

.header__subtitle {
  color: #577388;
  font-size: $m-size;
  font-weight: 500;
}
