.progress-bar {
  position: relative;
  height: 40px;
  line-height: 40px;
  margin-bottom: 50px;
  border-radius: 0;
  border: 1px solid $light-gray;
  background-color: $white;
  font-weight: 500;
  border-radius: 0.6rem;
  overflow: hidden;
}
