html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $main-background;
  color: $off-black;
  font-family: 'Maven Pro', sans-serif;
  font-size: $m-size;
}

.text-white {
  color: $white
}